<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Website Automation Test Suite">

	<listeners>
		<listener class-name="com.website.ezmall.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
  <test name="WebSite Test">
    <classes>
     
      <class name="com.website.ezmall.qa.pageTest.SearchListingpageTest"></class>
      <class name="com.website.ezmall.qa.pageTest.HomePageTest"></class>
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
